body{
    background-color: thistle;
    width: 1280px;
    font-family: arial;
    font-size: x-small;

}

.header{
    background-color: maroon;
    width: 100%;
    height: 50px;
    padding-left: 30px;
    padding-top: 1px;
    position: static;
    margin-left: -10px;
    z-index: 9999;
}

.Gambar1 {
    margin-top: 10px;
    margin-left: 500px;
}

.container1 {
    width: 700px;
    margin: 10px auto;

}

    .sidebar{
    position: static;
    float: left;
    width: 100px;
    height: 400px;
    background-color:orangered;
    /* padding-left: 10px; */
    list-style: none;
    }
    .article{
    position: static;
    float: left;
    width: 570px;
    height: 400px;
    background-color: rgb(255, 168, 121);
    padding-left: 10px;
    margin-left: 10px;
    }

.container2 {
    height: 75px;
    width: 550px;
    position: static;
    margin-top: 10px;
    margin: auto;
}

.box1, .box2, .box3{
        height: 75px;
        width: 150px;
        background-color: greenyellow;
        margin: 10px auto;
        float: left;
    }

    .box1{
        left: 0px;
        padding-left: 20px;
        
    }
    .box2{
        left: 175px;
        padding-left: 20px;
        margin-left: 10px;
    }
    .box3{
        left: 350px;
        padding-left: 20px;
        margin-left: 10px;
    }

.footer{
        position: static;
        float: left;
        width: 100%;
        height: 50px;
        padding-left: 30px;
        padding-top: 1px;
        background-color: maroon;
        margin-top: 10px;
        margin-left: -10px;
        color: ivory;
        }


/*--------------------------------------------------------Display Phone*/
    @media (max-width: 576px){
        body {
            width: 800px;
        }
        .header {
            background-color: rgb(38, 32, 32);
            color: white;
            font-size: 30px;
            height: 130px;
            width: 100%;
            font-variant: small-caps;
        }
        .Gambar1{
            margin-left: 260px;
        }
        .sidebar {
            width: 100%;
            height: 100px;
            background-color: grey;
            color: white;
            padding-top: 10px;
            /* padding-left: -20px; */
            /* text-align: center; */
        }
        .sidebar li {
            display: inline;
            font-size: 28px;
        }
        .sidebar li a {
            text-decoration: none;
        }
        .sidebar li a:hover {
            color: green;
            font-size: 30px;
        }
        .article {
            float :left;
            background-color: rgb(179, 179, 179);
            font-size: 35px;
            height: 1200px;
            width: 100%;
            margin-left: -2px;
        }
        .footer {
            background-color: grey;
            font-size: 30px;
            height: 130px;
            float: left;
            margin-top: 50px;
            width: 100%;
        }
        .container1 {
            width: 100%;
            float: left;

        }
        .container2 {
            float: left;
            width: 100%;
            margin: auto;
        }
        .box1, .box2, .box3 {
            background-color: rgb(85, 85, 85);
            color: white;
            height: 75px;
            width: 200px;
            margin: 10px 20px;
            float: left;
            font-size: 20px;
        }

    }